# Node.js
node_modules/
npm-debug.log*

# Next.js
.next/
next-env.d.ts
out/

# Environment Variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Editor/IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
ehthumbs.db

# Testing/Debugging
coverage/
*.gz